<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^(www\.)?mymobilectg\.com$
    RewriteCond %{REQUEST_URI} !^/web/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /web/$1 [L]    
    RewriteCond %{HTTP_HOST} ^(www\.)?mymobilectg\.com$
    RewriteRule ^/?$ /web/ [L]
</IfModule>
